@import url('../null&header&footer.css');

/*----------------------------------MAIN-------------------------------*/

.main {
	margin: 17px 0;
}

.main__row {
	display: flex;
	width: 100%;
	gap: 20px; /* Расстояние между блоками */
	
}

.main__inform {
	width: 30%;
	background-color: #e5e5e5;
	padding: 20px;
	margin: 0px 0px 0px 20px ;
}

.download-link{
	color: #000;
}

.main__inform-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 7px 0px 50px 0px;
}

.main__inform-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	margin: 15px;
	padding: 10px;
	background-color: #fff;
	transition: all 0.3s ease;
}

.main__inform-body:hover{
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transform: scale(1.04);
}

.main__inform-body:active {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Уменьшение тени при нажатии */
	transform: translateY(7px); /* Смещение вниз */
}

.main__inform-video video{
	width: 100%;
}

.main__inform-text-title {
	font-size: 24px;
	text-align: center;
	margin: 10px;
	font-style: italic;
}

.main__inform-text-save {
	text-align: center;
	margin: 30px 0px 0px 0px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 630;
}

/*-----------------------------main content-----------------------------*/

.main__content {
	width: 70%;
	padding: 20px;
	margin: 0px 20px 0px 0px;
	background-color: #e5e5e5;
}

h1{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
	letter-spacing: 1.5px;
	word-spacing: 1px;
}

.main__content-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.trans-series {
	width: 40%;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px 25px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: block;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trans-series:hover {
	transform: scale(1.05); /* Увеличение блока при наведении */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.trans-series .main__content-item h3,
.trans-series .main__content-item h4 {
	transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.trans-series:hover h3,
.trans-series:hover h4 {
	transform: scale(1.1); /* Увеличение текста h3 и h4 */
}

.trans-series:active {
	transform: scale(0.95); /* Эффект вдавливания при нажатии */
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Уменьшение тени при нажатии */
}

.main__conten-item-image img{
	width: 100%;
	height: 300px; /* Увеличенная высота для всех картинок */
	object-fit: cover;
}

.main__content-item-sries {
	font-size: 18px;
	text-align: center;
	margin: 10px 0px;
	color: #000;
	padding: 10px;
	font-weight: 700;
}

h3{
	font-weight: 525;
	font-style: italic;
}

h4{
	font-weight: 700;
}

.main__content-item-detail {
	font-size: 16px;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: 1.1px;
}

/*-----------Адаптивная вёрстка----------------*/

@media(max-width: 1025px){
	.main__row{
		flex-direction: column;
	}

	.main__inform{
		order: 2;
		width: 90%;
		margin: 0px auto;
	}

	.main__content{
		order: 1;
		width: 90%;
		margin: 0px auto;
	}

	.transformers-image{
		width: 90%;
	}
}

@media(max-width: 983px){
	.main__content-item-sries {
		font-size: 16px;
	}
}

@media(max-width: 891px){
	.main__content-item-sries {
		font-size: 14px;
	}

	.main__content-item-detail {
		font-size: 14px;
	}
}

@media(max-width: 801px){
	.main__content-item-sries {
		font-size: 13px;
	}

	.main__content-item-detail {
		font-size: 13px;
	}
}

@media(max-width: 755px){
	.trans-series {
		width: 45%;
		margin: 20px 5px;
	}
}

@media(max-width: 675px){
	.trans-series {
		width: 90%;
	}

	.main__conten-item-image img{
		width: 100%;
		height: auto;
	}

	.main__content-item-sries {
		font-size: 18px;
	}

	.main__content-item-detail {
		font-size: 16px;
	}

	.main__inform-text-title {
		font-size: 18px;
	}

	.main__inform-title {
		margin: 7px 0px 30px 0px;
	}
	
}

@media(max-width: 480px){
	.trans-series {
		width: 100%;
	}
}