@import url('../null&header&footer.css');

/*---------------------------------------------MAIN--------------------------------------------------*/
.main {
    margin: 17px 0;
}

.main__row {
    display: flex;
    width: 100%;
    gap: 20px;
}

/*------------------------------main inform (новости)----------------------------*/
.main__inform {
    width: 30%;
    background-color: #e5e5e5;
    padding: 20px;
    margin: 0 0 0 20px;
}

.main__inform-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.main__inform-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main__inform-body:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1.04);
}

.main__inform-image img,
.main__inform-image video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    background-color: #000;
}

.main__inform-text {
    margin: 20px 0 0 0;
    padding: 5px;
}

.main__inform-text-region,
.main__inform-text-title,
.main__inform-text-date {
    text-align: left;
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.main__inform-text-title {
    font-weight: bold;
}

.main__inform-text-text {
    display: none;
    padding: 15px;
}

.main__inform-text-heading {
    display: none;
}

/*------------------------------------------Модальное окно---------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal-content {
    display: flex;
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    border-radius: 10px;
    position: relative;
}

.modal-content img,
.modal-content video {
    width: 50%;
    height: auto;
    margin-right: 20px;
    border-radius: 6px;
    object-fit: cover;
    background-color: #000;
}

.modal-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 10px 0;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.modal-text-content {
    margin: 0 0 40px 0;
}

.modal-text-content p {
    margin: 0 0 0.2em;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    overflow-wrap: break-word;
    text-indent: 2em;
}

.modal-close {
    position: absolute;
    top: 10px; right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    transition: color 0.2s ease;
}

.modal-close:hover {
    color: red;
}

/*-----------------------------------------main content-----------------------------------------------*/
.main__content {
    width: 70%;
    background-color: #e5e5e5;
    padding: 20px;
    margin: 0 20px 0 0;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}

.main__content-services-image {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin: 0 20px 0 0;
}

.main__content-services-image img {
    width: 100%;
}

.main__content-services-text {
    margin: 0 0 10px 0;
    text-indent: 30px;
    text-align: justify;
    font-size: 17px;
    line-height: 1.5;
}

.main__content-services-text p {
    margin: 0 0 10px 0;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
}

/*-----------Адаптивная вёрстка-------------*/
@media(min-width: 2500px){
    .modal-content {
        width: 80%;
        height: 80%;
    }
    .modal-title {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .modal-body {
        font-size: 16px;
        overflow-x: auto;
    }
}

@media(min-width: 1959px){
    h1 {
        font-size: 36px;
    }
    .main__content-services-text {
        font-size: 26px;
    }
    .main__inform-title {
        font-size: 20px;
        margin: 0 0 35px 0;
    }
}

@media(min-width: 1026px) and (max-width: 1501px){
    .modal-content {
        width: 80%;
        height: 80%;
    }
}

@media(max-width: 1025px){
    .modal-content {
        width: 80%;
        height: 80%;
    }
}

@media(max-width: 951px){
    .main__inform-title {
        font-size: 18px;
    }
    .main__inform-body {
        margin: 5px;
        padding: 5px;
        width: 100%;
    }
    .main__inform-text-title {
        font-size: 20px;
    }
    .main__inform-text-deital {
        margin: 30px 0 10px 0;
    }
    h1 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .main__content-services-image {
        padding: 5px;
    }
    .main__content-services-text {
        font-size: 14px;
    }
}

@media(max-width: 882px){
    .main__row {
        flex-direction: column;
    }
    .main__inform {
        order: 2;
        width: 90%;
        margin: 0 auto;
    }
    .main__content {
        order: 1;
        width: 90%;
        margin: 0 auto;
    }
    .modal-close {
        color: red;
    }
}

@media(max-width: 821px){
    .modal-title {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .modal-body {
        font-size: 14px;
        overflow-x: auto;
    }
}

@media(max-width: 684px){
    .modal-content {
        flex-direction: column;
        max-height: 80%;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .modal-content img,
    .modal-content video {
        width: 100%;
        margin: 0 auto;
        display: block;
        height: auto;
    }
}

@media(max-width: 431px){
    .main__content {
        display: flex;
        flex-direction: column;
    }
    .main__content-services-image {
        width: 90%;
        padding: 10px;
        margin: 0 auto 10px auto;
    }
}
