{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "deps/css/company/about.css" %}'>
{% endblock css %}

{% block title %}
    {{title}}
{% endblock title %}

<body>
    {% block main %}
        <main class="main">
            <div class="container">
                <div class="main__row">
                    <!-- Левый столбец: последняя новость -->
                    <div class="main__inform">
                        <div class="main__inform-title">ОСТАННІ ПОДІЇ</div>
                        <div class="main__inform-body">
                            <div class="main__inform-image">
                                {% if news.content_type == 'image' %}
                                    <img src="{{news.content_file.url}}" alt="{{news.title}}">
                                {% elif news.content_type == 'video' %}
                                    <video autoplay muted loop playsinline src="{{news.content_file.url}}"></video>
                                {% endif %}
                            </div>
                            <div class="main__inform-text">
                                <div class="main__inform-text-region">Регіон {{news.region}}</div>
                                <div class="main__inform-text-title">{{news.title}}</div>
                                <div class="main__inform-text-date">{{news.created_at|date:"d.m.Y"}}</div>

                                <!-- Скрытый текст и рубрика для модалки -->
                                <div class="main__inform-text-text" style="display:none;">
                                    {{news.content|linebreaks}}
                                </div>
                                <div class="main__inform-text-heading" style="display:none;">
                                    Рубрика "{{news.heading}}"
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Правый столбец: описание компании -->
                    <div class="main__content">
                        <h1>Хто ми та чим займаємось</h1>
                        <div class="main__content-about">
                            <div class="main__content-about-body">
                                <div class="main__content-about-image">
                                    <img src="{% static 'deps/img/company/about/about.png' %}" alt="Зображення">
                                </div>
                                <div class="main__content-about-text">
                                    <p> ТОВ ВТК «Січ Енерго» працює на ринку енергетики понад десятиліття. Основний напрям — виробництво силових трансформаторів до 2500 кВА та комплексних трансформаторних підстанцій.</p>
                                    <p>Ми виготовляємо обладнання для різних галузей: промисловості, аграрного сектору, комунальних підприємств. Окрім виробництва, компанія забезпечує сервісне обслуговування: діагностику, капітальний та поточний ремонт.</p>
                                    <p>Наші трансформатори створені з використанням сучасних матеріалів і технологій, що гарантує довгий термін служби навіть при високих навантаженнях.</p>
                                    <p>Ми прагнемо бути рушійною силою розвитку енергетичної інфраструктури України та залишатися надійним партнером для кожного клієнта.</p>
                                    <p class="about__last-p">ТОВ ВТК «Січ Енерго» — ваш надійний партнер у світі енергетики!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Модальное окно -->
        <div class="modal">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <img class="modal-image" src="" alt=""/>
                <video autoplay muted loop playsinline class="modal-video" src="" controls></video>
                <div class="modal-text"></div>
            </div>
        </div>

        <script>
            function toggleMenu() {
                const menu = document.querySelector('.menu');
                menu.classList.toggle('active');
            }
        </script>
        <script src='{% static "deps/js/news-index.js" %}'></script>
    {% endblock main %}
</body>
</html>
