{% extends "main/base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'deps/css/company/documents.css' %}">
{% endblock %}
	<title>{{context}}</title>
<body>
	{% block main %}
		<main class="main">
			<div class="container">
				<div class="main__row">
				<div class="main__inform">
					<div class="main__inform-title">{{inform.title}}</div>
					<div class="main__inform-body">
						<div class="main__inform-image">
							<img class="main__inform-image" src="{{inform.image.url}}" alt="Зображення">
						</div>
						<div class="main__inform-text">
							<div class="main__inform-text-title">
								{{inform.name}}
							</div>
							<div class="main__inform-text-text">
								{{inform.description}}
							</div>
							<div class="main__inform-text-deital">
								<p>Детальніше</p>
							</div>
						</div>
					</div>
				</div>
				<div class="main__content">
					<h1>Офіційні документи та свідоцтва</h1>
					<div class="main__content-documents-items">
						{% for item in items %}
							<div class="main__content-documents-item">
								<div class="main__content-documents-image">
									<img src="{{item.image.url}}" class="documents-image" alt="Зображення">
								</div>
								<div class="main__content-documents-title">{{item.title}}</div>
							</div>
						{% endfor %}
					</div>
				</div>
				</div>
			</div>
		</main>

<!-- Модальное окно -->
		<div class="modal">
			<div class="modal-content">
				<span class="modal-close">&times;</span>
				<img src="" alt="">
				<div class="modal-text"></div>
			</div>
		</div>
		<div class="image-modal">
			<div class="image-modal-content">
				<span class="image-modal-close">&times;</span>
				<img src="" alt="Модальное изображение">
			</div>
		</div>

		<script>
		function toggleMenu() {
			const menu = document.querySelector('.menu');
			menu.classList.toggle('active');
		}
		</script>
		<script src="{% static 'deps/js/documents-info.js' %}"></script>
		<script src="{% static 'deps/js/documents-items.js' %}"></script>
	{% endblock %}
		
</body>
</html>