/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*---------------------------------------------------*/

.wrapper {
	min-height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 1 auto;
}

.container {
	margin: 0px auto;
}

/*--------------------------------HEADER-------------------------------*/

/*---------------------------------menu--------------------------------*/

.header {
	border-bottom: 1px solid #000;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	box-shadow: 0 5px 10px #000;
}

.navbar a img {
	max-width: 80%; /* Логотип будет уменьшаться в зависимости от контейнера */
	height: auto; /* Сохранение пропорций */
}

.header nav ul li{
	position: relative;
	float: left;
}

.header nav ul li a{
	padding: 30px;
	display: block;
	text-transform: uppercase;
	color: #000;
	font-weight: 525;
	font-size: 16px;
}

.header nav ul li a:hover{
	background-color: #d7d7d7;
	color: #fff;
}

.header nav ul li ul{
	position: absolute;
	left: 0;
	width: 180px;
	background-color: #fff;
	display: none;
	z-index: 9999;
}

.header nav ul li ul li{
	width: 100%;
	border: 1px solid rgba(0,0,0,.1);
}

.header nav ul li ul li a{
	font-size: 15px;
	text-align: center;
}

.header nav ul li:hover > ul{
	display: initial;
}

.header nav ul li ul li a:hover{
	font-size: 15px;
	text-align: center;
	color: #666;
}

/* -----------------------Стили для кнопки-бургер---------------------- */

.burger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	padding: 10px;
}

.burger span {
	height: 3px;
	width: 25px;
	background: #000;
	margin: 4px 0;
	transition: 0.3s;
}

/* Основное меню */
.menu {
	display: flex;
	align-items: center;
}

/* Подменю скрыто по умолчанию */
.header nav ul li ul {
	display: none;
}

/* Адаптивные стили */

@media (max-width: 1291px) and (min-width: 1025px) {
	.navbar a img {
		 max-width: 131px; /* Уменьшение ширины логотипа */
	}
}

@media (max-width: 1024px) {
	.burger {
		 display: flex;
		 margin-left: auto;
	}
	
	nav ul.menu {
		display: none;
		flex-direction: column;
		background-color: #f7f7f7;
		position: absolute;
		top: 130px; /* Чтобы меню не пересекалось с шапкой */
		left: 0;
		right: 0;
		z-index: 1000;
	}

	nav ul.menu.active {
		 display: flex;
	}

	nav ul li {
		 margin: 10px 0;
		 text-align: center;
	}

	/* Подменю */
	nav ul li:hover > ul {
		 display: block; /* Показываем подменю при наведении */
	}

	/* Стиль для подменю */
	.header nav ul li ul {
		 position: static;
		 background-color: #fff;
	}

	.header nav ul li ul li {
		 border: none;
	}

	.header nav ul li ul li a {
		 font-size: 15px;
		 text-align: left;
		 padding-left: 20px;
	}
}

@media(max-width: 631px){
	.navbar a img {
		max-width: 80%; /* Логотип будет уменьшаться в зависимости от контейнера */
		height: auto; /* Сохранение пропорций */
	}

	nav ul.menu {
		top: 108px; /* Чтобы меню не пересекалось с шапкой */
	}
}

@media(max-width: 451px){
	.navbar a img {
		max-width: 70%; /* Логотип будет уменьшаться в зависимости от контейнера */
		height: auto; /* Сохранение пропорций */
	}

	nav ul.menu {
		top: 97px; /* Чтобы меню не пересекалось с шапкой */
	}
}

@media(max-width: 313px){
	nav ul.menu {
		top: 14%; /* Чтобы меню не пересекалось с шапкой */
	}
}

/*-------------------------------FOOTER--------------------------------------*/

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 45px;
	border-top: 1px solid #000;
	text-align: center;
	font-size: 15px;
}

.footer p{
	margin: 0;
}