@import url('null&header&footer.css');

/*--------------------------------MAIN----------------------------------*/
.main {
    margin: 17px 0;
}

.main__row {
    display: flex;
    width: 100%;
    gap: 20px; /* Расстояние между блоками */
}

/*------------------------------main inform----------------------------*/
.main__inform {
    width: 30%;
    background-color: #e5e5e5;
    padding: 20px;
    margin: 0px 0px 0px 20px;
}

.main__inform-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
}

.main__inform-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main__inform-body:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

/* Картинка и видео на странице */
.main__inform-image {
    width: 100%;
}

.main__inform-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;   /* картинка вписывается полностью */
    display: block;
    background-color: #000; /* фон для пустых полей */
}

.main__inform-image video {
    width: 100%;
    height: 400px;
    object-fit: cover;     /* видео заполняет блок */
    display: block;
    background-color: #000;
}

.main__inform-text {
    margin: 20px 0px 0px 0px;
    padding: 5px;
}

/* Подписи */
.main__inform-text-region,
.main__inform-text-title,
.main__inform-text-date {
    text-align: left;
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    font-weight: normal;
    font-style: normal;
}

.main__inform-text-title {
    font-weight: bold;
}

.main__inform-text-text {
    display: none;
    padding: 15px;
}

.main__inform-text-text p {
    margin: 0px 0px 10px 0px;
}

.main__inform-text-deital {
    text-align: center;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 630;
}

/*----------------------------Модальное окно------------------------------*/
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal-content {
    display: flex;
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Картинка и видео в модалке */
.modal-content img {
    width: 50%;
    height: 500px;
    margin-right: 20px;
    border-radius: 6px;
    object-fit: fill;     /* картинка заполняет блок */
    background-color: #000;
}

.modal-content video {
    width: 50%;
    height: 500px;
    margin-right: 20px;
    border-radius: 6px;
    object-fit: cover;
    background-color: #000;
}

.modal-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 10px 0;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.modal-text-content {
    margin: 0 0 40px 0;
}

.modal-text-content p {
    margin: 0 0 0.2em;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    overflow-wrap: break-word;
    text-indent: 2em;
}

.modal-text-content p:last-child {
    margin-bottom: 0;
}

.modal-region,
.modal-name,
.modal-heading,
.modal-date {
    margin: 3px 0;
    font-weight: 700;
}

/* Кнопка закрытия */
.modal-close {
    position: absolute;
    top: 10px; right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    transition: color 0.2s ease;
}

.modal-close:hover {
    color: red;
}

/*------------------------------main content--------------------------------*/
.main__content {
    width: 70%;
    background-color: #e5e5e5;
    padding: 20px;
    margin: 0px 20px 0px 0px;
}

h1 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	word-spacing: 1px;
}

/*Элегантный курсив*/

/* h1 {
    font-family: 'Georgia', serif;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #444;
} */

/*Лёгкий и воздушный*/

/* h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    color: #555;
} */


/*---------------------------------------------------------------------------*/
.main__content-index-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.index-link {
    width: 31%;
}

.main__content-index-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin: 13px 10px;
}

.main__content-index-item:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1.04);
    font-weight: 600;
    font-size: 14px;
}

.main__content-index-item:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transform: translateY(7px);
}

.main__content-index-video {
    width: 100%;
    margin-bottom: 10px;
}

.main__content-index-video img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.main__content-index-title {
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

/*----------------Адаптивная вёрстка----------------*/
@media(max-width: 880px){
    .modal-text {
        font-size: 14px;
    }
    .modal-title {
        font-size: 20px;
    }
    .modal-content {
        width: 80%;
        max-height: 80%;
        overflow-x: auto;
    }
    .modal-content img {
        width: 70%;
        height: auto;
        margin: 0px auto;
    }
}

@media(max-width: 868px){
    .modal-content {
        flex-direction: column;
        max-height: 90vh;
        overflow-y: auto;
    }
    .modal-content img,
    .modal-content video {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media(max-width: 851px){
    .main__row {
        flex-direction: column;
    }
    .main__inform {
        order: 2;
        width: 90%;
        margin: 0px auto;
    }
    .main__content {
        order: 1;
        width: 90%;
        margin: 0px auto;
    }
}

@media(max-width: 632px){
    .main__content-index-items {
        flex-direction: column;
    }
    .main__content-index-item {
        padding: 10px;
        font-size: 16px;
    }
    .index-link {
        width: 85%;
        margin-bottom: 25px;
    }
    .main__content-index-title {
        font-size: 16px;
        font-weight: 535;
        letter-spacing: 1px;
    }
}

@media(max-width: 600px){
    .modal-content img {
        width: 80%;
        height: auto;
    }
}

@media(max-width: 480px){
    .modal-content img {
        width: 100%;
        height: auto;
    }
}
